.login {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.logo-trybe {
  margin: 10px;
  font-size: 1cm;
  font-family: arial;
  font-weight: 900;
}

.y-logo-trybe {
  display: inline-block;
  margin: 1px;
  padding: 0px 5px;
  background-color: rgb(15, 163, 107);
  border-radius: 7%;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.wallet {
  display: flex;
  flex-direction: column;
}

table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    border: 1px solid black;
  }
table th {
	padding: 15px;
	border: 1px solid #dddfe1;
}
